# Rust files
Cargo.lock
/target
/build
**/*.rs.bk

# temporary files
sochi
log
logs
*.log
*.txt
*.mythril
*.slither

# Documentation build
/docs/build

# LLVM files
*.bc
*.ll

# Solidity temporary files
*.abi
*.wasm
*.bin
*.evm

# C/C++ temporary files
*.o

# Downloaded libraries
mermaid.min.js
mermaid-init.js

# Output file
*.json

# MacOS temporary files
.DS_Store

# Archive files
*.zip
*.gz
*.xz
**/__pycache__/**
